
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Mukta Mahee', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
 }
 
:root{
  --color1pink : rgb(248, 163, 208);
  --color2otng: rgb(255, 163, 107);
  --color3pinklight: rgb(248, 16, 140) ;
  --color4ornglight: rgb(255, 108, 16) ;
  --color5orngdark: rgb(102, 76, 60);
  --color6pinkdark:rgb(129, 86, 109) ;
  --color7verylightpink: rgba(255, 206, 232, 0.2 );
}
 

/* start header page */

.home{
    /* padding: 0% 4%; */
    background-image: url(../src/assets/img/r10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.HeaderNav {
  display: flex;
  align-items: center;
  background-color: transparent;
  width: 100%;
  height: 88px;
  padding: 0% 6%;
  position: fixed;
  top: 0;
  z-index: 111111;
}
.HeaderNav.active{
  background-color: var(--color6pinkdark);
 }
 .homeContent.active{
    background-color: var(--color6pinkdark);
 }

.left-h{
  right: 0.8rem;
  top: 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

 .HeaderRebonsivNavClose:hover {
fill: var(--color2otng);
 }
.HeaderRebonsivNavClose {
  position: absolute;
  right: 8%;
  top: 28%;
  display: none;
  fill: var(--color1pink);
  width: 2rem;
    height: 2rem;
    margin-left: 1rem;
    cursor: pointer;
}
.left-h .logo , .footer .logo{
  width: 20%;
  justify-content: flex-start;
  color:var(--color1pink);
  cursor: pointer;
  font-size: 3rem;
  text-decoration: none ;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.left-h .logo:hover , .logo:hover{
  /* color: var(--color6pinkdark); */
  /* color: var(--color5orngdark); */
  color: var(--color2otng);
    text-decoration: none;
}
 /* .left-h .logo:hover */
 
.right-h{
  display: flex;
  flex: 2;
  /* background-color: rgb(62, 62, 1); */
  gap: 3rem;
  /* padding: 0 4%; */
  justify-content: flex-end;
  align-items: center;
}

 /* .active-nav {
   transform: translateX(0%);
   -webkit-transform: translateX(0%);
   -moz-transform: translateX(0%);
   -ms-transform: translateX(0%);
   -o-transform: translateX(0%);
 } */
 

.right-h a {
   color: var(--color1pink);
   font-size:1.2rem;
   transition:all 0.3s ease-out ;
   -webkit-transition:all 0.3s ease-out ;
   -moz-transition:all 0.3s ease-out ;
   -ms-transition:all 0.3s ease-out ;
   -o-transition:all 0.3s ease-out ;
}
.right-h a:hover {
  color: var(--color2otng); 
}
/* .right-h a:focus{
  color: var(--color2otng);
} */
.right-h .right-icons{
  display: flex;
  gap: 1.4rem;
  text-align: center;
  /* width: 100%; */
  /* flex: 1; */
}
  .circlSoical {
  display: flex;
   gap: 0.4rem;
}
  .circlSoical a{
display: flex;
 width: 2.6rem;
height: 2.6rem;
align-items: center;
justify-content: center;
background-color: var(--color7verylightpink);
border: 1px solid var(--color1pink);
border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
  .circlSoical a svg {
  fill: var(--color1pink);
  width: 1rem;
  height: 1rem; 
}
  .circlSoical a:hover{
  border-color: var(--color5orngdark);
  color: var(--color5orngdark);
}
  .circlSoical a::after{
  content: " ";
  position: absolute;
  z-index: -1;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  border-color:var(--color5orngdark) ;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 0%;
  height: 0%;
  background-color: var(--color2otng);
  color: var(--color5orngdark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
}
  .circlSoical a:hover::after{
width: 100%;
height: 100%;
 }

 .circlSoical a:hover svg {
  fill: var(--color5orngdark);
    color: var(--color5orngdark);
 }
/* .right-h .circlSoical a:hover {
  background-color: var(--color2otng);
  border-color: var(--color2otng) ;
 } */

 .right-icons .btn {
     /* padding: 2% 0; */
     /* width: 70%; */
     width: 10rem;
     /* width: 2.8rem; */
     height: 2.8rem;
      /* padding: 2% 3%; */
     border: none;
     outline: none;
     border-radius:1.2rem;
     text-transform: capitalize;
     font-weight: 500;
     cursor: pointer;
     color: var(--color6pinkdark);
     background-color: var(--color1pink);
     -webkit-border-radius:1.2rem;
     -moz-border-radius:1.2rem;
     -ms-border-radius:1.2rem;
     -o-border-radius:1.2rem;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     position: relative;
     overflow: hidden;
     z-index: 1;
}
  .btn::after {
 content: " ";
 position: absolute;
 z-index: -1;
 left: 0;
 top: 0;
 width: 0rem;
 height: 4rem;
  background-image: linear-gradient(to right, var(--color1pink), var(--color2otng) , var(--color1pink) );
   transition:all 0.3s ease ;
 -webkit-transition:all 0.3s ease ;
 -moz-transition:all 0.3s ease ;
 -ms-transition:all 0.3s ease ;
 -o-transition:all 0.3s ease ;
}
 .btn:hover::after{
  width: 11rem;
 }
 .btn:hover{
  color: var(--color5orngdark);
    /* color: var(--color6pinkdark); */
 }


 
/* ---------------------------end header page  -------------------------------------------------------------------------*/

 
/* --------------------------- start home page  -------------------------------------------------------------------------*/



.homeContent{
padding: 6%;
display: flex;
/* background-color: var(--color6pinkdark); */
/* justify-content: space-between; */
gap: 1rem;
}

.homeContent .left-homCont {
  flex: 1;
  color: var(--color1pink);
  text-transform: capitalize;
  padding-top: 6%;
    /* display: flex;
    flex-direction: column; */
}

.homeContent .left-homCont h4 {
   border: 1px solid var(--color1pink) ;
   padding: 2% ;
   color: var(--color3pinklight);
   transform: capitalize;
   width: 62%;
   margin-bottom: 4%;
   border-radius: 1.2rem;
   background-image: linear-gradient(to right, var(--color1pink), var(--color2otng) );
   opacity: 70%;
   font-size: 1.2rem;
   -webkit-border-radius: 1.2rem;
   -moz-border-radius: 1.2rem;
   -ms-border-radius: 1.2rem;
   -o-border-radius: 1.2rem;
 }

.homeContent .left-homCont h2  {
  font-size: 4rem;
 }

.text-wrterEff{
  /* white-space: pre; */
  /* color: rgb(105, 105, 159); */
  font-size: 4rem;
  /* display: inline-block; */
}

/* .homeContent .left-homCont .fist-txt{
  position: relative;
} */

.homeContent .left-homCont > :nth-child(3){
  color: var(--color2otng);
  padding: 1% 0;
  /* background-color: aqua; */
}
.homeContent .left-homCont span{
  color: var(--color4ornglight);
  display: flex;
  flex-direction: column;
  padding: 1% 0;
}
.homeContent .left-homCont button {
  margin: 2% 0;
  background-color: transparent;
  padding: 1% 0;
  /*font-size: 2rem;
  */border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 22%;
}

 .homeContent .left-homCont button span{
  color: var(--color2otng);
  cursor: pointer;
 }
.homeContent .left-homCont button .svg{
  display: flex;
  /* border: 2px solid var(--color2otng); */
  border: 2px solid var(--color1pink);
  border-radius: 5rem;
  padding: 0.25rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  /* fill: var(--color2otng); */
  fill: var(--color1pink);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

 .homeContent .left-homCont button:hover span,
 .homeContent .left-homCont button:hover .svg {
   color: var(--color3pinklight);
   border-color: var(--color1pink);
   fill: var(--color3pinklight);
 }

/* .homeContent .left-homCont button .svg:hover{
  border-color: var(--color1pink);
  fill: var(--color1pink);
} */


.homeContent .right-homCont{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 padding-right: 4%;
 position: relative;
 /* background-color: antiquewhite; */
}

.homeContent .right-homCont img{
  width: 14rem;
  height: 14rem;
      position: absolute;
      top: 11%;
      animation-name: star-anmation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
          /* animation-direction: alternate; */
      animation-direction: alternate-reverse;
}

@keyframes star-anmation {

  0% {
      /* right: 50%; */
      top: 11%;
    }

    100% {
      /* right: 50%; */
      top: 30%;
    }
  
}


/* --------------------------- end home page  -------------------------------------------------------------------------*/



/* -------------------------------- start skills */


.skills{
  background-color: var(--color6pinkdark);
  text-align: center;
  width: 100%;
  height: 20vh;
  position: relative;
}

.skills .skills-container{
  background-color: var(--color3pinklight);
  width: 60%;
  /* margin: auto; */
  position: absolute;
  top: -5%;
  left: 20%;
}





/* -------------------------------- end skills */


/* -------------------------------- start projects */
 
.Projects{
display: flex;
flex-direction: column;
align-items: center;
padding: 1%;
}
.Projects h2 { 
padding: 1%;
 }
.Projects .projsNav { 
      margin: auto;
      display: flex;
       width: 100%;
        justify-content: center;
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        -ms-border-radius: 5rem;
        -o-border-radius: 5rem;
}
.Projects .projsNav a{
   text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: rgb(128, 179, 162);
    padding: 1% 6%;
}
.projsNav >a:nth-child(1) {
  /* background-color: rgb(152, 182, 208); */
  border-radius: 5rem 0 0 5rem;
  -webkit-border-radius: 5rem 0 0 5rem;
  -moz-border-radius: 5rem 0 0 5rem;
  -ms-border-radius: 5rem 0 0 5rem;
  -o-border-radius: 5rem 0 0 5rem;
}
.projsNav>a:nth-child(1):hover{
  /* background-image: radial-gradient(rgb(202, 137, 137), rgb(232, 232, 162), rgb(127, 171, 166)); */
  background-image: linear-gradient(to right , var(--color1pink),  var(--color2otng) );
}
 .projsNav>a:nth-child(3){
   /* background-color: rgb(32, 45, 57); */
   border-radius: 5rem 0 0 5rem;
   -webkit-border-radius: 0rem 5rem 5rem 0rem;
   -moz-border-radius: 5rem 0 0 5rem;
   -ms-border-radius: 5rem 0 0 5rem;
   -o-border-radius: 5rem 0 0 5rem;
 }
 
  

/* --------------------------------end projects */


/* -------------------- */

/* .active-nav {
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
} */

/* -------------------- */



/* ---------------------------------start contact ======================  */

.contact{
  background-image: url(./assets/img/r6.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  gap: 4rem;
 }
 .contact .contact-content{
  background-color: white;
  border-radius: 2rem;
  -webkit-border-radius: 2rem;
  -moz-border-radius: 2rem;
  -ms-border-radius: 2rem;
  -o-border-radius: 2rem;
  padding: 3%;
  width: 77%;
  display: flex;
 }
.contact .contact-content .text-cont{
  /* background-color: rgb(145, 104, 50); */
  flex: 1;
  font-size: 2rem;
  font-weight: 500;
  text-align: center;
  text-transform: capitalize;
  color: var(--color3pinklight);
}
.contact .contact-content .form-cont{
  /* background-color:aqua; */
  flex: 1;
  padding: 1%;
  display: flex;
  justify-content: center;
}
.contact .contact-content Form{
  display: flex;
  justify-content: center;
   border-color: linear-gradient(var(--color1pink), var(--color2otng))  ;
  border-image: linear-gradient(var(--color1pink), var(--color2otng)) 30;  
    border-width: 4px;
    border-style: solid;
    border-radius: 10px;
  padding: 1%;
  width: 94%;
   color:linear-gradient(var(--color1pink), var(--color2otng)) ;
   align-items: center;
 
}
.contact .contact-content Form input[type=email]{
 border: none;
 color: var(--color3pinklight);
outline: none;
}
.contact .contact-content Form input[type=email]:focus {
  border: none;
outline: none;
}
.contact .contact-content Form button{
      background: linear-gradient( to right , var(--color1pink), var(--color2otng) );
      padding: 5% 8%;
      color: var(--color6pinkdark);
       border: none;
      font-weight: bold;
      border-radius: 2rem;
      align-items: center;
      -webkit-border-radius: 2rem;
      -moz-border-radius: 2rem;
      -ms-border-radius: 2rem;
      -o-border-radius: 2rem;
      text-transform: capitalize;
      transition: all 0.3s ease;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -ms-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
}
.contact .contact-content Form button:hover{
      background: linear-gradient(to left, var(--color1pink), var(--color2otng));
}






/* ===============================end contact ------------------------- */



/* footer start ----------------------- */
 
.footer{
  display: flex;
  padding: 1% 6%;
   justify-content: space-between;
   align-items: center;
   background-color: var(--color6pinkdark);
}
.footer .right-footer{
display: flex;
flex-direction: column;
align-items: center;
gap: 1rem;
/* padding: 1%; */
}
.footer .right-footer span{
 font-size: 0.8rem;
/* padding: 1%; */
}

/* tooter end  */
















/*
 ----------------------------------------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------
 --------------------------------------------------------     ALL  MEDIA   ---------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------
 ----------------------------------------------------------------------------------------------------------------------------------

*/



 @media screen and (max-width:768px) {


/* @media screen and (max-width:400px) { */


/* =================== media header ==================== */
.HeaderNav {
    flex-direction: column;
      position: fixed;
  }
 .left-h{
  width: 100%;
  justify-content: space-between;
   }
.HeaderRebonsivNavClose{
  display: flex;
}
.right-h{
  position: fixed;
  top: 11%;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  border-radius: 0.4rem;
  padding: 4% 8%;
  width: 100%;
  background-color: var(--color6pinkdark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-border-radius: 0.4rem;
  -moz-border-radius: 0.4rem;
  -ms-border-radius: 0.4rem;
  -o-border-radius: 0.4rem;
}
  .circlSoical {
  font-size: small;
  /* display: flex; */
  flex-direction: row;
  flex: 1;
  /* background-color: antiquewhite; */
}

.btn {
  flex-direction: row;
  flex: 1;
  /* background-color: yellow; */
}

 .logo {
  font-size: 1.8rem;
}

/* --------------------media home ------------------ */

.homeContent {
  flex-direction: column;
  position: relative;
  padding-top: 70%;
}
.homeContent .left-homCont button {
width: 44%;
}
.homeContent .left-homCont h4{
  font-size: 1rem;
   width: 94%;
   opacity: 90%;
}
.homeContent .left-homCont h2 {
  font-size:  2rem;
}
.text-wrterEff {
 font-size: 0.6rem;
}
.homeContent .right-homCont{
  position: relative;
  z-index: 11;
  width: 100%;
}
.homeContent .right-homCont .starImg {
  width: 6rem;
  height: 6rem;
  position: absolute;
  top: 0%;
  z-index: 1;
  animation-name: star-anmation;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
}
@keyframes star-anmation {
  0% {
    /* right: 50%; */
    top: 1%;
  }
  100% {
    /* right: 50%; */
    top: 50%;
  }
}

/* -----------------------media ------------------------- */



/* media footer statrt */


.footer {
flex-direction: column;  padding: 1% 4%;
 }

.footer .right-footer {
  flex-direction: column;
  gap: 0.4rem;
   
}


/* ---------------media footer end */







}




/* ---------------------------------------------------------------------------------------------------------------next MEADIA  */

@media  screen and (max-width:1024px) {


  .HeaderNav {

    /* visibility: visible;
    opacity: 1; */

  }





}


/* end media */