 
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Caveat', cursive;
  font-family: 'Merriweather Sans', sans-serif;
  font-family: 'Mukta Mahee', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Quicksand', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Rubik', sans-serif;
}
 
:root{
  --color1pink : rgb(248, 163, 208);
  --color2otng: rgb(255, 163, 107);
  --color3pinklight: rgb(248, 16, 140) ;
  --color4ornglight: rgb(255, 108, 16) ;
  --color5orngdark: rgb(102, 76, 60);
  --color6pinkdark:rgb(129, 86, 109) ;
  --color7verylightpink: rgba(255, 206, 232, 0.2 );
}

a , a:hover{
  text-decoration: none;
}


/* start header page */

.home{
    /* padding: 0% 4%; */
    background-image: url(../src/assets/img/r10.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: center; */
}


.HeaderNav {
  display: flex;
  align-items: center;
  /* background-color: var(--color7verylightpink);
    */
    background-color: var(--color6pinkdark);
  width: 100%;
  height: 88px;
  padding: 0% 6%;
  position: fixed;
  top: 0;
  z-index: 11111;
}

.left-h{
  flex: 1;
  /* background-color: rgb(98, 83, 62); */
   /* padding: 0% 4%; */
}
.left-h .logo  {
  width: 20%;
  justify-content: flex-start;
  color:var(--color1pink);
  cursor: pointer;
  font-size: 3rem;
  text-transform: uppercase;
  transition: all 0.3s ease-in;
  -webkit-transition: all 0.3s ease-in;
  -moz-transition: all 0.3s ease-in;
  -ms-transition: all 0.3s ease-in;
  -o-transition: all 0.3s ease-in;
}
.left-h .logo:hover{
  /* color: var(--color6pinkdark); */
  /* color: var(--color5orngdark); */
  color: var(--color2otng);
}
 
.right-h{
  display: flex;
  flex: 2;
  /* background-color: rgb(62, 62, 1); */
  gap: 3rem;
  /* padding: 0 4%; */
  justify-content: flex-end;
  align-items: center;
}
.right-h a {
   color: var(--color1pink);
   font-size:1.2rem;
   transition:all 0.3s ease-out ;
   -webkit-transition:all 0.3s ease-out ;
   -moz-transition:all 0.3s ease-out ;
   -ms-transition:all 0.3s ease-out ;
   -o-transition:all 0.3s ease-out ;
}
.right-h a:hover {
  color: var(--color2otng); 
}
/* .right-h a:focus{
  color: var(--color2otng);
} */
.right-h .circlSoical {
  display: flex;
   gap: 0.4rem;
}
.right-h .circlSoical a{
display: flex;
 width: 2.6rem;
height: 2.6rem;
align-items: center;
justify-content: center;
background-color: var(--color7verylightpink);
border: 1px solid var(--color1pink);
border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.right-h .circlSoical a svg {
  fill: var(--color1pink);
  width: 1rem;
  height: 1rem; 
}
.right-h .circlSoical a:hover{
  border-color: var(--color5orngdark);
  color: var(--color5orngdark);
}
.right-h .circlSoical a::after{
  content: " ";
  position: absolute;
  z-index: -1;
  border-radius: 50rem;
  -webkit-border-radius: 50rem;
  -moz-border-radius: 50rem;
  -ms-border-radius: 50rem;
  -o-border-radius: 50rem;
  border-color:var(--color5orngdark) ;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  width: 0%;
  height: 0%;
  background-color: var(--color2otng);
  color: var(--color5orngdark);
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -webkit-transform: translate(-50% , -50%);
  -moz-transform: translate(-50% , -50%);
  -ms-transform: translate(-50% , -50%);
  -o-transform: translate(-50% , -50%);
}
.right-h .circlSoical a:hover::after{
width: 100%;
height: 100%;
 }

.right-h .circlSoical a:hover svg {
  fill: var(--color5orngdark);
    color: var(--color5orngdark);
 }
/* .right-h .circlSoical a:hover {
  background-color: var(--color2otng);
  border-color: var(--color2otng) ;
 } */



  .btn {
     padding: 2% 4%;
     border: none;
     outline: none;
     border-radius:1.2rem;
     text-transform: capitalize;
     font-weight: 500;
     cursor: pointer;
     color: var(--color6pinkdark);
     background-color: var(--color1pink);
     -webkit-border-radius:1.2rem;
     -moz-border-radius:1.2rem;
     -ms-border-radius:1.2rem;
     -o-border-radius:1.2rem;
     transition: all 0.3s ease;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     position: relative;
     overflow: hidden;
     z-index: 1;
}
  .btn::after {
 content: " ";
 position: absolute;
 z-index: -1;
 left: 0;
 top: 0;
 width: 0rem;
 height: 4rem;
  background-image: linear-gradient(to right, var(--color1pink), var(--color2otng) , var(--color1pink) );
   transition:all 0.3s ease ;
 -webkit-transition:all 0.3s ease ;
 -moz-transition:all 0.3s ease ;
 -ms-transition:all 0.3s ease ;
 -o-transition:all 0.3s ease ;
}
 .btn:hover::after{
  width: 11rem;
 }
 .btn:hover{
  color: var(--color5orngdark);
 }


 
/* ---------------------------end header page  -------------------------------------------------------------------------*/

 
/* --------------------------- start home page  -------------------------------------------------------------------------*/



.homeContent{
padding: 6%;
display: flex;
/* justify-content: space-between; */
gap: 1rem;
}

.homeContent .left-homCont{
  flex: 1;
  color: var(--color1pink);
  text-transform: capitalize;
}
.homeContent .left-homCont h4 {
   border: 1px solid var(--color1pink) ;
   padding: 2% ;
   color: var(--color3pinklight);
   transform: capitalize;
   width: 62%;
   margin-bottom: 4%;
   border-radius: 1.2rem;
   background-image: linear-gradient(to right, var(--color1pink), var(--color2otng) );
   opacity: 70%;
   font-size: 1.2rem;
   -webkit-border-radius: 1.2rem;
   -moz-border-radius: 1.2rem;
   -ms-border-radius: 1.2rem;
   -o-border-radius: 1.2rem;
}

.homeContent .left-homCont > :nth-child(3){
  color: var(--color2otng);
  padding: 1% 0;
}
.homeContent .left-homCont span{
  color: var(--color4ornglight);
  display: flex;
  flex-direction: column;
  padding: 1% 0;
}
.homeContent .left-homCont button {
  margin: 2% 0;
  background-color: transparent;
  padding: 1% 0;
  /*font-size: 2rem;
  */border: none;
  outline: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 25%;
}

 .homeContent .left-homCont button span{
  color: var(--color2otng);
  cursor: pointer;
 }
.homeContent .left-homCont button .svg{
  display: flex;
  /* border: 2px solid var(--color2otng); */
  border: 2px solid var(--color1pink);
  border-radius: 5rem;
  padding: 0.25rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
  /* fill: var(--color2otng); */
  fill: var(--color1pink);
  cursor: pointer;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}

 .homeContent .left-homCont button:hover span,
 .homeContent .left-homCont button:hover .svg {
   color: var(--color3pinklight);
   border-color: var(--color1pink);
   fill: var(--color3pinklight);
 }

/* .homeContent .left-homCont button .svg:hover{
  border-color: var(--color1pink);
  fill: var(--color1pink);
} */


.homeContent .right-homCont{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
 padding-right: 4%;
 position: relative;
 /* background-color: antiquewhite; */
}

.homeContent .right-homCont img{
  width: 14rem;
  height: 14rem;
      position: absolute;
      top: -10%;
      animation-name: star-anmation;
      animation-duration: 2s;
      animation-iteration-count: infinite;
          /* animation-direction: alternate; */
      animation-direction: alternate-reverse;
}

@keyframes star-anmation {

  0% {
      /* right: 50%; */
      top: -10%;
    }

    100% {
      /* right: 50%; */
      top: 10%;
    }
  
}


/* --------------------------- end home page  -------------------------------------------------------------------------*/



/* -------------------------------- start skills */


.skills{
  background-color: var(--color6pinkdark);
  text-align: center;
  width: 100%;
  height: 20vh;
  position: relative;
}

.skills .skills-container{
  background-color: var(--color3pinklight);
  width: 60%;
  /* margin: auto; */
  position: absolute;
  top: -5%;
  left: 20%;
}





/* -------------------------------- end skills */


/* -------------------------------- start projects */
 
.Projects{
display: flex;
flex-direction: column;
align-items: center;
padding: 1%;
}
.Projects h2 { 
padding: 1%;
 }
.Projects .projsNav { 
      margin: auto;
      display: flex;
       width: 100%;
        justify-content: center;
        border-radius: 5rem;
        -webkit-border-radius: 5rem;
        -moz-border-radius: 5rem;
        -ms-border-radius: 5rem;
        -o-border-radius: 5rem;
}
.Projects .projsNav a{
   text-decoration: none;
    font-size: 1.2rem;
    text-transform: capitalize;
    background-color: rgb(128, 179, 162);
    padding: 1% 6%;
}
.projsNav >a:nth-child(1) {
  /* background-color: rgb(152, 182, 208); */
  border-radius: 5rem 0 0 5rem;
  -webkit-border-radius: 5rem 0 0 5rem;
  -moz-border-radius: 5rem 0 0 5rem;
  -ms-border-radius: 5rem 0 0 5rem;
  -o-border-radius: 5rem 0 0 5rem;
}
.projsNav>a:nth-child(1):hover{
  /* background-image: radial-gradient(rgb(202, 137, 137), rgb(232, 232, 162), rgb(127, 171, 166)); */
  background-image: linear-gradient(to right , var(--color1pink),  var(--color2otng) );
}
 .projsNav>a:nth-child(3){
   /* background-color: rgb(32, 45, 57); */
   border-radius: 5rem 0 0 5rem;
   -webkit-border-radius: 0rem 5rem 5rem 0rem;
   -moz-border-radius: 5rem 0 0 5rem;
   -ms-border-radius: 5rem 0 0 5rem;
   -o-border-radius: 5rem 0 0 5rem;
 }
 




/* --------------------------------end projects */


